@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <head>
        <title>Fitness Planet</title>
        <link rel="stylesheet" href="/css/StyleSheet.css">
    </head>
        <div id="header">
            <img src="/imgs/logo1.jpg" class="logo" alt="">
        <div>
            <ul id="navbar">
               <li><a href="">Home</a></li>
               <li><a href="">Shop</a></li>
               <li><a href="">Blog</a></li>
               <li><a href="">About</a></li>
               <li><a href="#">Contact us</a></li>
            </ul>
    </div>
        </div>
    <body>
      <center>
    <div id="One">

        <h1>Trade in Offer</h4>
        <h2>If you're a fitness freak then <br>you're at right place!</h2>
        <h2><span >Flat </span>50% On all products</h1>
        <h5>Save more with coupns and upto 70% off!</h5>
        <button id="Shop">Shop Now</button>
       </div>
         </center>
<section id="section1">

</section>

    </body>






















